<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642976739029-f1j273dbluihmdksrr9vv4c5lgvhhpmu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642976739029-f1j273dbluihmdksrr9vv4c5lgvhhpmu</string>
	<key>API_KEY</key>
	<string>AIzaSyDh44nPLZBzXeP2cyR6_3rDFDjaNUdREe8</string>
	<key>GCM_SENDER_ID</key>
	<string>642976739029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ays.driver</string>
	<key>PROJECT_ID</key>
	<string>ays-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>ays-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642976739029:ios:fb8d11470f49211149fc5c</string>
</dict>
</plist>